{% extends 'base.html' %}
{% block content %}
<h2>Vehicle Inquiry</h2>
<form method="POST">
  <label>Name: <input type="text" name="name" required></label><br>
  <label>Email: <input type="email" name="email" required></label><br>
  <label>Car:
    <select name="car_id">
      {% for car in cars %}
        <option value="{{ car.id }}">{{ car.year }} {{ car.make }} {{ car.model }}</option>
      {% endfor %}
    </select>
  </label><br>
  <label>Message: <textarea name="message" required></textarea></label><br>
  <button type="submit">Send Inquiry</button>
</form>
{% endblock %}
